@import '../../constants/variables.css';

.app {
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  color: var(--color-text) !important;
}

.contentBackground {
  margin: 2rem;
  padding: 1rem;
  background: var(--white);
  border-radius: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
}
